<template>
  <div>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">SPA y Componentes</h4>
              <p>Laravel & Vue.js</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Navegación</h4>
              <ul class="list-unstyled"></ul>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar navbar-dark bg-dark shador-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>App</strong>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=" #navbarHeader"
            aria-controls="navbarHeader"
            aria-expanded="false"
            aria-label="Navegación"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Example</h1>
        <p class="lead text-muted">Text</p>
      </div>
    </section>
  </div>
</template>